{% extends 'base.html.twig' %}

{% block title %}Page Interdit
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Vous n'avez pas le droit d'accèder à cette ressource</h1>
	</div>
{% endblock %}
