{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

    <div class="container">
        <h1>Ce ne sont pas ces droïdes la que vous cherchez</h1>
    </div>
{% endblock %}